/*=============================================================
    Authour URI: www.binarytheme.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% Free To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITs AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */

/* =============================================================
   GENERAL STYLES
 ============================================================ */
 h1 {
color:#ff6e71
}

/* =============================================================
  BUTTON SECTION STYLES
 ============================================================ */
.custom-btn-one {
   border-color: #ff6e71
}
   
/* =============================================================
  HOME SECTION STYLES
 ============================================================ */

 #home-sec .main-img {     
   border:5px solid #ff6e71
}
 #home-sec .main-img-2 {
   border:5px solid #ff6e71
}
    .icon-round:hover {
        background-color:#ff6e71
    }

.icon-round-active {
      background-color:#ff6e71
}


/* =============================================================
  SKILL SECTION STYLES ( easy-pie-chart css)
 ============================================================ */
    #skill-sec h4 {
color:white;
}
      /* =============================================================
  DOWNLOAD SECTION STYLES
 ============================================================ */
.board .tab-content i {
    color: #ff6e71
}

  /*=====================================
  TESTIMONIALS STYLES 
    ===================================*/

    #testimonial-main img {
        border:3px solid #ff6e71
    }
    /*=====================================
  PORTFOLIO STYLES 
    ===================================*/

.portfolio-sec-wrap .overlay {
    background-color: #ff6e71
}

 /*=====================================
  FOOTER STYLES 
    ===================================*/
#footer-sec h3{
    color: #ff6e71
}
#footer-sec i{
    color: #ff6e71
}
 /*=====================================
  SCROLLUP STYLES 
    ===================================*/
a.scrollup {
background: #ff6e71

}